* {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: hsl(217, 54%, 11%);
}
/* styles container card */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* styles card */
.card {
  background-color: hsl(216, 50%, 16%);
  width: 300px;
  box-shadow: 0 1em 2em 0;
  padding: 1em;
  border-radius: 1em;
}

.view {
  position: absolute;
  width: 3em;
  z-index: 1;
  top: 34%;
  left: 46%;
  display: none;
}

.img {
  width: 100%;
  border-radius: 0.5em;
  z-index: -1;
}

.img:hover {
  /* background-image: #00fff7; */
  cursor: pointer;
  filter: opacity(0.4) drop-shadow(0 0 0 #00fff7);
}
/* .img:hover::after {
} */
.h3 {
  color: #fff;
  margin: 1em 0;
}
.h3:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
.p-card-description {
  color: #8bacd9;
  margin: 1em 0;
}
/* styles container item */
.container-item {
  display: flex;
  justify-content: space-between;
}

.item-body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.item {
  width: 1em;
  height: 1em;
}
.p-item-1 {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
  margin-left: 0.8em;
}

.p-item-2 {
  color: #8bacd9;
  font-weight: 600;
  margin-left: 0.8em;
}
/* styles hr */

.container-hr {
  display: flex;
  align-items: center;
  height: 2em;
}

.hr {
  border: 1px solid hsl(215, 32%, 27%);
  width: 100%;
}

/* footer styles */

.footer-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.img-footer-card {
  width: 40px;
  border-radius: 1.5em;
  border: 1px solid #fff;
}

.p-footer {
  padding: 1em;
  color: #fff;
}

.p-footer:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.span-word {
  color: #8bacd9;
}

/* attribution  */
.attribution {
  text-align: center;
  margin: 1em;
  color: hsl(178, 100%, 50%);
}

.a-attribution {
  color: #8bacd9;
}
